@charset "utf-8";
/* CSS Document */


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
	height: 100%;
}

li {
  list-style: none;
}

/* links */
a {
  text-decoration: none;
}

a:link{
  color: red;
}

a:visited{
  color: red;
}
  
a:hover{
  color: yellow;
  background-color: #FFFFFF;
}

/* header */
header {
  background-color: blue;
  padding: 15px;
  color: #FFFFFF
}

header h1 {
  display: inline-block;
  margin: auto 0px;
}

header nav {
  display: inline-block;
  float: right;
  margin: 10px 20px;
}

header nav ul li {
  display: inline-block;
  font-weight: bold;
}

header nav ul li a {
  padding: 10px 0px 10px 20px;
}

header nav ul li a:link{
  color: #FFFFFF;
}

.mobile-menu-btn {
  margin: 10px;
  display: none;
}

#mobile-menu {
  display: none;
}

/* login window */
.sign-form-container{
  width: 100%;
  margin: 0 auto;
}

.sign-form-container-elements-wrapper {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #FFFFFF;
}

.sign-form-image-wrapper{
  width: 718px;
  background: #f0ec08;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  overflow: hidden;
}

/* sign form image */
.sign-form-image {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

/* the sign form */
.sign-form{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 45px;
}
  
.sign-form-title {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: #555555;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    display: block;
}


.sign-form-input-wrapper {
  border: 1px solid #e0c1c1;
}

.sign-form-element {
  width: 100%;
  position: relative;
  color: blue;
  margin: 20px 0px;
  font-style: italic
}

.sign-form-input {
  display: block;
  width: 100%;
  background: #FFFFFF;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.sign-form-input {
  height: 35px;
}

.sign-form-input-btn-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* sign form buttons */
.sign-form-input-btn {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    border-radius: 3px;
    background: blue;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    transition: all 0.4s;
}

.sign-form-input-btn:hover {
  background: #FFFFFF;
  color: black;
}

/* home page */
.website-banner {
  background-image: url(../images/report-corruption.png);
  background-position: center center;
  background-size: cover;
  color: yellow;
  text-align: center;
  padding: 14em 0em 14em;
}

.website-banner p {
  font-style: italic;
  margin: 5px 0px 0px 0px;
}

.site-signup-btn {
  appearance: none;
  background-color: #3cadd4;
  border-radius: 30px;
  border: 0;
  color: #ffffff !important;
  display: inline-block;
  font-weight: bold;
  padding: 1% 3%;
  text-align: center;
  margin: 20px 0px;
}

.grid-container {
  margin: 30px auto;
  text-align: center;
}

.icon-grid-item {
  height:40%;
  width: 40%;
  border-radius: 50%;
}

.grid-box-container {
  width: 25%;
  overflow: auto;
  align-items: center;
  text-align: center;
  background: #f0ec08;
  margin: 10px;
  padding: 45px 10px;
  display: inline-block;
}

.inside-headers {
  text-align: center;
  background-color: rgb(58, 178, 248);
}

.inquiry-section {
  text-align: center;
  background-color: rgb(58, 178, 248);
}

.inquiry-input-field, .inquiry-message-box  {
  padding: 15px;
  margin: 10px;
  width: 400px;
}

.site-btn {
  background-color: #f0ec08;
  color: black !important;
}

footer {
  background-color: #444444;
  text-align: center;
  padding: 0px 0px 35px;
}

.relevant-sites-links-section {
  border-bottom: #FFFFFF solid thin;
}

.relevant-sites-links-group {
  display: inline-block;
  text-align: center;
  margin: 10px 50px;
}

.social-media-icons-wrapper ul li {
  display: inline-block;
  margin: 20px;
}

.social-media-icons-wrapper ul li a img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social-media-icons-wrapper ul li a:hover {
  background: none;
}

/* Responsive design with media queries */
@media only screen and (max-width: 700px) {
  header .bigscreen-menu-btn {
    display: none;
  }

  header nav {
    margin: 4px 8px;
  }
  
  header nav ul li {
    display: block;
  }
  
  header nav ul li a {
    padding: 4px 0px 4px 8px;
  }

  header nav ul li a:link {
    color: green;
  }

 .mobile-menu-btn {
    display: inline-block;
  }

  .sign-form-image {
    display: none;
  }

  .sign-form{
    width: 100%;
  }

  /* index page */
  .relevant-sites-links-section {
    display: none;
  }

  .grid-box-container {
    width: 85%;
    margin: 10px auto;
    display: block;
  }

  .icon-grid-item {
    display: none;
  }

  .website-banner {
    background-image: none;
    color: blue;
    padding: 0em 0em 0em;
  }

  .inquiry-input-field, .inquiry-message-box  {
    padding: 5px;
    margin: 5px;
  }
}